body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, #ff00cc, #3333ff);
    background-size: 200% 800%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 20px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.header-title {
    font-size: 2em;
    color: white;
    animation: textGlow 2s ease-in-out infinite;
}

@keyframes textGlow {
    0% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 0, 204, 0.5), 0 0 40px rgba(255, 0, 204, 0.6), 0 0 50px rgba(255, 0, 204, 0.7), 0 0 60px rgba(255, 0, 204, 0.8), 0 0 70px rgba(255, 0, 204, 1); }
    50% { text-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 0, 204, 0.7), 0 0 50px rgba(255, 0, 204, 0.8), 0 0 60px rgba(255, 0, 204, 0.9), 0 0 70px rgba(255, 0, 204, 1), 0 0 80px rgba(255, 0, 204, 1); }
    100% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 0, 204, 0.5), 0 0 40px rgba(255, 0, 204, 0.6), 0 0 50px rgba(255, 0, 204, 0.7), 0 0 60px rgba(255, 0, 204, 0.8), 0 0 70px rgba(255, 0, 204, 1); }
}

.container {
    text-align: center;
    background:  linear-gradient(120deg, #ffcc5e, #c953ff);;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;  /* Увеличенная ширина контейнера */
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#attemptsList {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

#attemptsList li {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
    color:  linear-gradient(120deg, #ff00cc, #3333ff);;
}

.history-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.historyBlock {
    box-sizing: border-box;
    background:  linear-gradient(120deg, #ffcc5e, #c953ff);;
    padding: 1em;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}